.todo_main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color:antiquewhite;
}

.todo_main .todo_section {
  position: relative;
  box-sizing: border-box;
  transition: 0.5s transform ease;
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.todo_main .todo_section:hover {
  transform: scale(1.05);
}

.todo_main .todo_section .title_box {
  text-align: center;
  margin-bottom: 20px;
}

.todo_main .todo_section .title_box .title {
  font-size: 36px;
  margin-bottom: 10px;
}

.todo_main .todo_section .title_box .sub_title {
   font-size: 14px;
}

.todo_main .todo_section #todo_input_box {
  position: relative;
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: center;
  margin-bottom: 15px;
}

.todo_main .todo_section #todo_input_box #todo_input {
  flex: 8;
}

.todo_main .todo_box {
  position: relative;
  padding: 10px;
  border: 1px solid rgb(255, 158, 60);
  border-radius: 10px;
  height: 70%;
  overflow-y: scroll;
}

.todo_main .todo_box li {
 display: flex;
 justify-content: space-around;
 align-items: center;
 gap: 5px;
 margin-bottom: 10px;
}

.todo_main .todo_box li:last-child {
  margin-bottom: 0;
}

.todo_main .todo_box li::before {
  content: '>';
  flex: 1;
}

.todo_main .todo_box li p {
  flex: 8;
  word-break: break-all;
  cursor: pointer;
  transition: 0.3s opacity ease;
}

.todo_main .todo_box li p:hover {
  opacity: 0.5;
}

.todo_main .todo_box li button {
  display: block;
}